html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

body {
  padding: 1rem 2rem;
  background-color: #051f33;
}

ul {
  list-style-type: '\1F4A1';
  padding-left: 1.25rem;
}

li {
  padding-left: 0.75rem;
}

p {
  color: white;
  font-size: 23px;
  /*list-style-type: '\2705';*/
}

.p{
	color: white;
}

.buttonMark{
	/*font-weight: 500;*/
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	border: 1px solid transparent;
  	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
  	background-color: #225175;
  	font-size: 15px;
  	height: 35px;
  	padding: 6px;
}